*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
	font-weight: 300;
}

ul{
	display: block;
}

li{
	display: block;
	position: relative;
}

.menu{
	width: 100px;
	background-color: #4c2c4f;
}

.home{
	background-color: #8a2b91;
}

a{
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;

	width: 12.5vh;
    height: 12.5vh;

	/*padding: 15px; */

	color: white;
	font-size: 35px;
}

a:hover{
	background-color: #50217c;
	animation: mainColor 0.4s cubic-bezier(.24,.65,0,1) fowards;
}

@keyframes mainColor{
	from{
		background-color: #4c2c4f;
	}
	to{
		background-color: #50217c;
	}
}

.name{
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: -1;

	width: 30vh;
    height: 12.5vh;

	background-color: #4c2c4f;
	opacity: 0;
}

a:hover + .name{
	animation: menu .4s cubic-bezier(.24,.65,0,1) forwards;
	display:flex;
}

@keyframes menu{
	O%{
		transform: translate(-30vh, -12.5vh);
		opacity: 0;
	}
	100%{
		transform: translate(12.5vh, -12.5vh);
		opacity: 1;
	}
}

h2{
	font-size: 1.3em;
	text-transform: uppercase;
	color: white;
}